#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    behaviors {
        ep_hold: behavior_gpio_hold {
            compatible = "zmk,behavior-gpio-hold";
            #binding-cells = <0>;
            control-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH 
                        &gpio0 1 GPIO_ACTIVE_HIGH> ;
        };

    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp N0 &kp N1
                &kp LSHFT &ep_hold
            >;
        };
    };
};
